[submodule "brushless_flights/--recursive"]
	path = brushless_flights/--recursive
	url = git@github.com:IMRCLab/crazyflie-firmware.git
[submodule "brushless_flights/crazyflie-firmware"]
	path = brushless_flights/crazyflie-firmware
	url = git@github.com:IMRCLab/crazyflie-firmware.git
